@import "./colors";
@import "./fontstyle";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary_font;
  overflow-x: hidden;
  a {
    color: $font_color;
  }
  #highlight {
    font-size: 2em;
  }
  #highlight1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden;
    #highlight {
      font-size: 2em;
    }
    #highlight1 {
      font-size: 2em;
    }
  }
}
